html {
    font-family: 'AvenirNextCondensed-DemiBold';
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.color-primary-0 { color: #6F5D80 }	/* Main Primary color */
.color-primary-1 { color: #B697D4 }
.color-primary-2 { color: #937FA7 }
.color-primary-3 { color: #554A60 }
.color-primary-4 { color: #343038 }

.color-secondary-1-0 { color: #BD9E86 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFD2B0 }
.color-secondary-1-2 { color: #F7D3B7 }
.color-secondary-1-3 { color: #8F7A6A }
.color-secondary-1-4 { color: #534C46 }

.color-secondary-2-0 { color: #527472 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #8DCDC8 }
.color-secondary-2-2 { color: #719895 }
.color-secondary-2-3 { color: #415856 }
.color-secondary-2-4 { color: #2B3333 }

.color-complement-0 { color: #BDBA86 }	/* Main Complement color */
.color-complement-1 { color: #FFFBB0 }
.color-complement-2 { color: #F7F3B7 }
.color-complement-3 { color: #8F8D6A }
.color-complement-4 { color: #535246 }

.page-style {
	color: #8DCDC8;
	background-color: #554A60; }

.footer-style {
	color: #8DCDC8;
	background-color: #2B3332; }